#!/usr/bin/env bash

# vim as default
export EDITOR="vim"

# Don't clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer proper English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_GB"
